<!-- Large devices -->
<div class="container-fluid margin-top-2 margin-bottom-3 visible-lg visible-md visible-sm navbar">
  <div class="row">
    <div class="col-xs-6 text-align-left">

      <a href="/" class="navbar-logo">
        <img src="/images/favicon.png" class="navbar-logo-img">
        <span class="navbar-logo-text">DEVELOPERS</span>
      </a>

    </div>
    <div class="col-xs-6 text-align-right">
      <ul class="navbar-categories">
        <li><a href="/blog/devops/">DevOps</a></li>
        <li><a href="/blog/nodejs/">Node.js</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Small devices -->
<div class="container-fluid margin-top-2 margin-bottom-3 visible-xs">
  <div class="row">
    <div class="col-xs-6 text-align-left">

      <a href="/" class="navbar-logo">
        <img src="/images/favicon.png" class="navbar-logo-img">
      </a>

    </div>

    <div class="col-xs-6 text-align-right">

      <ul class="navbar-categories">
        <li><a href="/blog/">Blog</a></li>
      </ul>
    
    </div>
  </div>
</div>


